{% extends 'recipes/base.html' %}
{% block content %}

{% if user.is_authenticated %}

<table class="table table-hover">
    <thead>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>date</th>
    </tr>
    </thead>
    <tbody>
    {% if not recipes %}
    <h1><b class="text-muted">{{ "We haven't had yet any recipes. If you want you can create something new!" }}</b></h1>
    {% else %}
    {% for recipe in recipes %}
    <tr>
        <th>
            <h1><a class="text-muted" href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.name }}</a></h1>
        </th>
        <td>{{ recipe.description }}</td>
        <td>
            <p>
                <date-util format="dd/MM/yyyy">{{ recipe.creation_time }}</date-util>
            </p>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% else %}
<h1><b class="text-muted">{{ "Welcome to Recipes! You have to LogIn or Register." }}</b></h1>
{% endif %}
{% endblock content %}
