{% extends 'recipes/base.html' %}

{% block content %}
<div class="post">
    {% if recipe.creation_time %}
    <div class="date">
        {{ recipe.creation_time }}
    </div>
    {% endif %}
    <a class="btn btn-default" href="{% url 'recipe_edit' pk=recipe.pk %}"><span
            class="glyphicon glyphicon-pencil"></span>Edit recipe</a>
    <h1>{{ recipe.description }}</h1>
    <p>{{ recipe.name|linebreaksbr }}</p>
    <p> Cuisine: {{ recipe.cuisine|linebreaksbr }}</p>
    <p> Cooking time: {{ recipe.cooking_time|linebreaksbr }} hour(s) </p>
    <img class="recipe-img" src="{{recipe.main_img}}" alt="image not found">
    <p></p>
    <div class="recipe">
        <div class="date">
        </div>
        <p><u>Steps for recipe:</u></p>
    </div>
    <hr>
    {% for step in recipe.step_set.all %}
    <div class="recipe">
        <div class="date">
            {{ step.description }}
        </div>
        <p>{{ step.number|linebreaksbr }}</p>
        <img class="recipe-img" src="{{step.img}}" alt="альтернативный текст">
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}